/* CSS RESET */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px; /* base font-size for rem units */
}
/* CSS RESET */



/* FONT */

@font-face{
    font-family: "juice";
    src: url(Permanent_Marker/PermanentMarker-Regular.ttf);
    font-display:swap;
}

/* FONT */



body {
    font-family: "juice";
    color: rgb(193, 184, 184);
    background-color: rgb(19, 19, 19);
    gap: 2rem;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: solid 1px white; */
    box-shadow: 1px 0 20px blueviolet;
    width: 100%;
    height: 80%;
}

img {
    width: 34%;
    height: 100%;
    box-shadow: 1px 0 20px blueviolet;
    z-index: 1; /* for it to be on top and make the box shadow visible*/
}


.text {
    height: 100%;
    /* border-left: solid 1px pink; */
    background-color: rgb(28, 26, 27);
    font-size: 2rem;
    font-weight: 10;
    color: white;
    text-shadow: 0 0 5px cyan;
    flex-grow: 1;
    padding: 1rem;
    padding-left: 2.5rem;
}

em {
    text-decoration: underline;
    font-size: 2rem;
}

span {
    font-weight: bold;
    text-shadow: 0 0 5px rgb(0, 255, 0);
}

/* FORM STYLING below!! */

form {
    display: flex;
    flex-wrap: wrap; /* allows items to go to the next line */
    gap: 1.5rem;
    justify-content: flex-start;
    margin-top: 1.5rem;
}

/* input boxes */
.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    /* this makes two items fit per row, 45% width + 45% width and then plus the gap
    and because of wrap, they wrap fax fr, explained in more detail in the README file*/
    width: 45%; 
}

label {
    color: white;
    text-shadow: 0 0 10px rgb(255, 255, 0);
    font-size: 0.9rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

input {
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid blueviolet;
    border-radius: 4px;
    padding: 0.8rem;
    color: white;
    font-family: "juice";
    font-size: 1rem;
}

/* okay so this basically makes it so that the boxes arent red on load, :required targets
    well required fields, invalid when its invalid duh, and then :not(:focus) basically when its
    not being focused, and then the not placeholder-shown when the placeholder isnt being shown
    which means that the user typed something fax fr lol its straight up readable idk why im making
    this comment 
*/
input:required:invalid:not(:focus):not(:placeholder-shown) {
    border-color: #ff004c;
    box-shadow: 0 0 10px #ff004c;
}

input:required:valid {
    border-color: cyan;
    box-shadow: 0 0 10px cyan;
}

button {
    width: fit-content; /* fit-content is just that it fits the content lol, means that its only
                        as wide as the content, "JOIN THE ABYSS" plus the padding i think*/
    padding: 1rem;
    margin-top: 1rem;
    background-color: blueviolet;
    color: white;
    font-family: "juice";
    font-size: 1.4rem;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 15px blueviolet;
    /* makes it glowy :O */
    text-shadow: 0 0 5px white;
}

button:hover {
    /* a lil brighter when its being hovered over */
    background-color: #a333ff;
    box-shadow: 0 0 25px #a333ff;
}