/* CSS RESET */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px; /* base font-size for rem units */
}
/* CSS RESET */



/* FONT */

@font-face{
    font-family: "juice";
    src: url(Permanent_Marker/PermanentMarker-Regular.ttf);
    font-display:swap;
}

/* FONT */



body {
    font-family: "juice";
    color: rgb(193, 184, 184);
    background-color: rgb(19, 19, 19);
    gap: 2rem;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: solid 1px white; */
    box-shadow: 1px 0 20px blueviolet;
    width: 100%;
    height: 80%;
}

img {
    width: 34%;
    height: 100%;
    box-shadow: 1px 0 20px blueviolet;
    z-index: 1; /* for it to be on top and make the box shadow visible*/
}


.text {
    height: 100%;
    /* border-left: solid 1px pink; */
    background-color: rgb(28, 26, 27);
    font-size: 2rem;
    font-weight: 10;
    text-shadow: 0 0 5px cyan;
    flex-grow: 1;
    padding: 1rem;
    padding-left: 2.5rem;
}

em {
    text-decoration: underline;
    font-size: 2rem;
}

span {
    font-weight: bold;
    text-shadow: 0 0 5px rgb(0, 255, 0);
}

form {
    text-shadow: 0 0 5px blue;
}