/* CSS RESET */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px; /* base font-size for rem units */
}
/* CSS RESET */


body {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

img {
    width: 50vw;
    height: 100vh;
}

.image-text {
    position: absolute;
    display: flex;

}

.image-title{
    background-color: grey;
    color: white;
    padding: 1rem;
}

.image-credits {
    color: white;
}

.intro {
    width: 50rem;
    height: 25vh;
    border: solid 1px black;
    font-size: 1.5rem;
    text-align: center;
}